/* Start Normalize*/

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

  body {
    margin: 0;
  }

  main {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
 
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
 
  a {
    background-color: transparent;
  }
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
 
  small {
    font-size: 80%;
  }
 
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
 
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
 
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  button,
  select { /* 1 */
    text-transform: none;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
 
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }

  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }

/* End Normalize*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    height: 5.5rem;
    background-color: #fff;
    padding: 0 5%;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

/* Start Icons SVG Sprite*/

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  /* End Icons SVG Sprite*/

  .scroll-up{
    display: none;
  }

.nav{
    display: none;
}

.nav__wrapper{
    display: flex;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 700;
}

.nav__item{
    position: relative;
    list-style: none;
    margin: 0 0 0 3.5rem;
}

.nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #777;
    transition: .3s;
}

.nav__link::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -3px;
    left: 0;
    border-bottom: 2px solid #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav__link:hover:before {
    visibility: visible;
    transform: scaleX(1.2);
}

.nav__link:hover{
    color: #222;
}

.mobile{
    display: unset;
    font-size: 3rem;
    color: #555;
    cursor: pointer;
    position: absolute;
    top: 1.1rem;
    right: 0;
    text-align: right;
}

.mobile__icon{
    margin: 0 2rem 0 0;
    cursor: pointer;
}

#mobile__label {
    display: none;
    font-style: normal;
    font-size: 1.2em;
}
  
.mobile__wrapper {
    list-style-type: none;
    display: none;
    width: 100vw;
}
.mobile__item {
    background-color: #fff;
    padding: .5rem;
    text-align: center;
}
.mobile__link{
    color: #777;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    transition: .3s;
}

.mobile__link:hover {
    color: #222;
}
  
#mobile__label:checked ~ .mobile__wrapper {
    display: block;
}

@media screen and (min-width: 500px){
    .header{
        height: 6.5rem;
        padding: 0 8%;
    }
    .mobile{
        top: 1.7rem;
    }
}

@media screen and (min-width: 1024px){
    .header{
        height: 8.5rem;
        padding: 0 8%;
    }
    .scroll-up{
        display: unset;
        position: fixed;
        right: 3rem;
        bottom: 3rem;
        width: 5rem;
        height: 5rem;
        background-color: rgba(125, 197, 118, 0.5);
        color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        z-index: 99;
    }
    .scroll-up__item{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        width: 5rem;
        height: 5rem;
        transform: rotate(-90deg) translateY(-1px);
    }
}

@media screen and (min-width: 800px){
    .nav{
        display: unset;
    }
    .mobile{
        display: none;
    }
}

.about{
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/laptop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 53rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-title{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.about__text{
    color: #ccc;
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    font-weight: 400;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0 6rem 0;
}

.btn--about{
    margin: 0 auto;
    display: block;
}

.btn{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #7cc576;
    border: none;
    padding: 1.7rem 2.5rem;
    border-radius: 4rem;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}

.btn:hover{
    background-color: #fff;
    color: #222;
}

@media screen and (min-width: 500px) and (orientation: portrait){
    .primary-title{
        font-size: 4rem;
    }
    .about__text{
        font-size: 1.8rem;
    }
    .btn{
        font-size: 1.4rem;
        padding: 1.9rem 2.7rem;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){
    .primary-title{
        font-size: 5rem;
    }
    .about__text{
        font-size: 1.9rem;
    }
    .btn{
        font-size: 1.5rem;
        padding: 2rem 3rem;
    }
}

@media screen and (min-width: 900px){
    .primary-title{
        font-size: 6rem;
    }
    .about__text{
        font-size: 2rem;
        padding: 3rem 0 6rem 0;
    }
    .btn{
        font-size: 1.6rem;
        padding: 1.9rem 2.7rem;
    }
}

@media screen and (min-width: 480px) and (orientation: landscape){
    .about{
        height: 30rem;
    }
    .primary-title{
        font-size: 3rem;
    }
    .about__text{
        font-size: 1.6rem;
        padding: 3rem 0 6rem 0;
        padding: 1rem 3rem 3rem 3rem;
    }
    .btn{
        font-size: 1.4rem;
        padding: 1.7rem 2.5rem;
    }
}

@media screen and (min-width: 640px) and (orientation: landscape){
    .about{
        height: 35rem;
    }
    .primary-title{
        font-size: 4rem;
    }
    .about__text{
        font-size: 1.7rem;
        padding: 2rem 3rem 4rem 3rem;
    }
    .btn{
        font-size: 1.5rem;
        padding: 2rem 3rem;
    }
}

@media screen and (min-width: 800px) and (orientation: landscape){
    .about{
        height: 45rem;
    }
    .primary-title{
        font-size: 5rem;
    }
    .about__text{
        font-size: 1.8rem;

    }
    .btn{
        font-size: 1.6rem;
        padding: 1.9rem 2.7rem;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape){
    .about{
        height: 50rem;
    }
    .about__text{
        padding: 3rem 3rem 5rem 3rem;
    }
}

.services{
    padding: 4rem 0 3rem 0;
}

.services__wrapper{
    width: 90%;
    margin: 0 auto;
}

.services__header{
    padding: 0 0 3rem 0;
}

.secondary-title{
    text-align: center;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: -1px;
    color: #222222;
    font-weight: 700;
}

.services__text{
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    color: #777777;
}

.services__main{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service{
    padding: 1.5rem;
    transition: .3s;
}

.service:hover{   
    transform: scale(1.1) 
}

.service__icon{
    display: block;
    margin: 0 auto;
    font-size: 7rem;
}

.third-title{
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #222222;
    font-weight: 700;
}

.service__text{
    text-align: center;
    font-size: 1.2rem;
    color: #777777;
}

@media screen and (min-width: 500px) and (orientation: portrait){
    .secondary-title{
        font-size: 3.4rem;
    }
    .services__text{
        font-size: 1.8rem;
    }
    .third-title{
        font-size: 1.8rem;
    }
    .service__text{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){
    .services__main{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .service{
        padding: 1.5rem;
        min-width: 33.33%;
        max-width: 33.33%;
    }
}

@media screen and (min-width: 500px) and (orientation: landscape){
    .secondary-title{
        font-size: 3.4rem;
    }
    .services__text{
        font-size: 1.8rem;
    }
    .third-title{
        font-size: 1.8rem;
    }
    .service__text{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 720px) and (orientation: landscape){
    .services__main{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .service{
        padding: 1.5rem;
        min-width: 33.33%;
        max-width: 33.33%;
    }
}

@media screen and (min-width: 1024px){
    .services{
        padding: 7rem 0 6rem 0;
    }
    .services__main{
        justify-content: space-around;
        padding: 3rem 0 0;
    }
    .secondary-title{
        font-size: 4rem;
    }
    .services__text{
        font-size: 2rem;
    }
    .third-title{
        font-size: 1.8rem;
    }
    .service{
        padding: 1.5rem;
        min-width: 25%;
        max-width: 25%;
    }
}

.info{
    background-color: #e9e9e9;
    width: 100%;
}

.info__gear{
    display: none;
}

.info__wrapper{
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/cliff.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
}

.secondary-title--info{
    color: #fff;
    text-align: center;
}

.info__text{
    color: #ccc;
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
}

.info__character{
    color: #7CC576;
}

.info__item-box{
    width: 24.2rem;
    display: block;
    margin: 2rem auto;
}

.info__item{
    color: #ccc;
    font-size: 1.3rem;
    padding: .5rem 0;
    display: flex;
    align-items: center;
}

.info__item::before{
    content: "\2713";
    border: 1px solid #fff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: .6rem 0 0 0;
    margin: 0 1rem 0 0;
}

.btn--info{
    display: inline-block;
    margin: 4rem auto 0 auto;
}

@media screen and (min-width: 500px) and (orientation: portrait){
    .info__text{
        font-size: 1.8rem;
    }
    .info__item-box{
        width: 26rem;
    }
    .info__item{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){
    .info__text{
        width: 80%;
    }
}

@media screen and (min-width: 500px) and (orientation: landscape){
    .info__text{
        font-size: 1.8rem;
        width: 80%;
    }
    .info__item-box{
        width: 26rem;
    }
    .info__item{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px){
    .info{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* position: absolute; */
        width: 100%;
    }
    .info__gear{
        position: absolute;
        display: unset;
        top: center;
        left: 0;
        width: 50%;
        z-index: 0;
    }
    .info__gear-img{
        display: block;
        margin: 0 auto;
        animation: rotation 20s infinite linear;
    }
    @keyframes rotation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
        }
    }
    .info__wrapper{
        width: 75%;
        padding: 7rem 7%;
        z-index: 1;
        display: block;
    }
    .secondary-title--info{
        text-align: left;
    }
    .info__text{
        font-size: 1.4rem;
        text-align: left;
        margin: 0;
        width: 80%;
    }
    .info__item-box{
        width: 100%;
    }
    .btn--info{
        margin: 4rem 0 0 0;
    }
}

@media screen and (min-width: 1366px){
    .info__text{
        width: 60%;
    }
}

@media screen and (min-width: 1600px){
    .info__text{
        width: 50%;
    }
}

.project{
    padding: 4rem 0 3rem 0;
}

.project__title{
    text-align: center;
    font-size: 1.4rem;
    color: #777;
    padding: 1rem 0 0;
}

.third-title--project{
    text-align: left;
    padding: 0;
    text-transform: none;
}

.third-title--project-top{
    padding: 4rem 0 1rem;
}

.project__text{
    font-size: 1.3rem;
    color: #777;
    padding: .5rem 0;
}

.project__text--project-top{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 0 3rem 0;
}

.project__text--project-bottom{
    text-align: center;
    padding: 2rem 0 1rem;
    margin: 0 auto;
    width: 90%;
}

.project__box{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    transition: .3s;
}

.project__box:hover{
    transform: translateX(1rem);
}

.project__img{
    border: 3px solid #000;
    padding: 1.2rem;
    border-radius: 50px;
    min-width: 7rem;
    max-width: 7rem;
    min-height: 7rem;
    max-height: 7rem;
    text-align: center;
    margin: 1rem 1.5rem 1rem 0;
}

.project__icon{
    font-size: 4rem;
}

.project__link-box{
    display: flex;
    justify-content: center;
    padding: 2rem 0 0;
}

.project__link{
    text-transform: uppercase;
    text-decoration: none;
    color: #7cc576;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.4rem;
    transition: .3s;
}

.project__link:hover{
    color: #222;
}

.project__tablet-img{
    display: none;
}

@media screen and (min-width: 500px){
    .project__box{
        padding: 0 4rem;
    }
    .project__title{
        font-size: 2rem;
    }
    .third-title--project-top{
        font-size: 2rem;
    }
    .project__text{
        font-size: 1.6rem;
    }
    .project__link{
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){
    .project{
        position: relative;
        overflow: hidden;
    }
    .third-title--project-top{
        text-align: left;
        padding: 4rem 0 1rem 4rem;
    }
    .project__text--project-top{
        text-align: left;
        padding: 0 0 3rem 4rem;
        width: 60%;
        margin: 0;
    }
    .project__box{
        width: 60%;
    }
    .project__text--project-bottom{
        text-align: left;
        padding: 2rem 0 1rem 4rem;
        width: 60%;
        margin: 0;
    }
    .project__link-box{
        justify-content: flex-start;
    }
    .project__link{
        text-align: left;
        margin: 2rem 0 0 4rem;
    }
    .project__tablet-img{
        position: absolute;
        display: unset;
        width: 80%;
        top: 40%;
        right: -30%;
        z-index: -1;
    }
}

@media screen and (min-width: 900px) and (orientation: portrait){
    .project__tablet-img{
        top: 30%;
    }
}

@media screen and (min-width: 720px) and (orientation: landscape){
    .project{
        position: relative;
        overflow: hidden;
    }
    .third-title--project-top{
        text-align: left;
        padding: 4rem 0 1rem 4rem;
    }
    .project__text--project-top{
        text-align: left;
        padding: 0 0 3rem 4rem;
        width: 60%;
        margin: 0;
    }
    .project__box{
        width: 60%;
    }
    .project__text--project-bottom{
        text-align: left;
        padding: 2rem 0 1rem 4rem;
        width: 60%;
        margin: 0;
    }
    .project__link-box{
        justify-content: flex-start;
    }
    .project__link{
        text-align: left;
        margin: 2rem 0 0 4rem;
    }
    .project__tablet-img{
        position: absolute;
        display: unset;
        width: 80%;
        top: 40%;
        right: -32%;
        z-index: -1;
    }
}

@media screen and (min-width: 900px) and (orientation: landscape){
    .project__tablet-img{
        top: 40%;
        right: -20%;
        width: 70%;
    }
}

@media screen and (min-width: 1024px){
    .project{
        padding: 6rem 4rem;
    }
    .project__tablet-img{
        top: 37%;
        right: -25%;
        width: 70%;
    }
    .third-title--project-top{
        padding: 8rem 0 1rem 4rem;
    }
}

@media screen and (min-width: 1280px){
    .third-title--project-top{
        padding: 8rem 0 1rem 20rem;
    }
    .project__text--project-top{
        padding: 0 0 3rem 20rem;
    }
    .project__box{
        padding: 0 2rem 0 20rem;
    }
    .project__text--project-bottom{
        padding: 2rem 0 1rem 20rem;
    }
    .project__link{
        margin: 2rem 0 0 20rem;
    }
    .project__tablet-img{
        position: absolute;
        display: unset;
        width: 70%;
        top: 30%;
        right: -26%;
        z-index: -1;
    }
}

@media screen and (min-width: 1440px){
    .project__tablet-img{
        width: 65%;
        top: 20%;
    }
}

@media screen and (min-width: 1550px){
    .project__tablet-img{
        width: 62%;
        top: 15%;
    }
}

@media screen and (min-width: 1900px){
    .project__tablet-img{
        width: 60%;
        top: 8%;
        right: -20%;
    }
}

.values{
    position: relative;
    padding: 4rem 0 3rem 0;
    background-color: #f9f9f9;
}

.values__title{
    text-align: center;
    font-size: 1.4rem;
    color: #777;
    padding: 1rem 0 2rem;
}

.values__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.values__box-item{
    width: 90%;
    padding: 2rem 0;
}

.values__img{
    border: 3px solid #777;
    border-radius: 50px;
    min-width: 9rem;
    max-width: 9rem;
    min-height: 9rem;
    max-height: 9rem;
    text-align: center;
    padding: 1.8rem .2rem 0rem 0;
    margin: 0 auto;
}

.values__icon {
    color: #777;
    font-size: 5rem;
  }

.values__box-text{
    font-size: 1.3rem;
    color: #777;
    text-align: center;
}

@media screen and (min-width: 500px){
    .values__title{
        font-size: 2rem;
    }
    .values__box-text{
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){
    .values__box-item{
        width: 70%;
    }
}

@media screen and (min-width: 720px) and (orientation: landscape){
    .values__box-item{
        width: 70%;
    }
}

@media screen and (min-width: 1024px){
    .values{
        padding: 6rem 0 3rem 0;
    }
    .values__box{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .values__box-item{
        max-width: 30%;
        min-width: 30%;
        height: 25rem;
    }
    .values__line-first{
        position: absolute;
        top: 50%;
        left: 28%;
        background-color: #777;
        width: 12%;
        height: 0.3rem;
    }
    .values__line-second{
        position: absolute;
        top: 50%;
        left: 60%;
        background-color: #777;
        width: 12%;
        height: 0.3rem;
    }
}

.clients{
    padding: 4rem 0 3rem 0;
}

.clients__title{
    text-align: center;
    font-size: 1.4rem;
    color: #777;
    padding: 1rem 0 2rem;
}

.clients__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.clients__box--order{
    flex-direction: column-reverse;
}

.clients__img{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}

.clients__bubble{
    position: relative;
    background-color: #f9f9f9;
    width: 90%;
    margin: 4rem 0 0;
}

.clients__text{
    font-size: 1.4rem;
    color: #777;
    padding: 3rem 2rem 2rem;
    text-align: center;
}

.clients__author{
    font-size: 1.4rem;
    color: #7cc576;
    padding: 0 2rem 3rem 2rem;
    text-align: center;
    display: block;
}

.clients__arrow-one::before, .clients__arrow-two::before{
    content: '';
    position: absolute;
    top: -4.4rem;
    left: 50%;
    border: 22px solid;
    border-color: transparent transparent #f9f9f9 transparent;
    margin-left: -22px;
}

@media screen and (min-width: 500px){
    .clients__title{
        font-size: 2rem;
    }
    .clients__text{
        font-size: 1.6rem;
    }
    .clients__author{
        font-size: 1.6rem;
    }
    .clients__img{
        width: 22.5rem;
        height: 22.5rem;
    }
}

@media screen and (min-width: 720px){
    .clients__box{
        flex-direction: row;
        justify-content: space-around;
    }
    .clients__arrow-one::before{
        top: 50%;
        left: -4.4rem;
        border-color: transparent #f9f9f9 transparent transparent;
        margin-top: -2.2rem;
        margin-left: 0;
    }
    .clients__arrow-two::before{
        top: 50%;
        left: unset;
        right: -4.4rem;
        border-color: transparent transparent transparent #f9f9f9;
        margin-top: -2.2rem;
    }
    .clients__bubble{
        width: 50%;
        margin: 4rem 0 0;
    }
    .clients__img{
        width: 25rem;
        height: 25rem;
    }
}

@media screen and (min-width: 900px){
    .clients{
        padding: 6rem 0 3rem 0;
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px){
    .clients{
        width: 70%;
}
    .clients__img{
        width: 27.5rem;
        height: 27.5rem;
    }
}

@media screen and (min-width: 1536px){
    .clients{
        width: 60%;
    }
    .clients__box{
        justify-content: center;
    }
    .clients__bubble{
        width: 50%;
        margin: 4rem 6rem 0 6rem;
    }
    .clients__img{
        width: 30rem;
        height: 30rem;
    }
}

.contact{
    padding: 4rem 0;
    background-color: #7cc576;
    text-align: center;
}

.secondary-title--contact{
    color: #fff;
    width: 90%;
    margin: 0 auto;
}

.contact__btn{
    display: inline-block;
    margin: 4rem auto 0 auto;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: .3rem solid #fff;
    border-radius: .8rem .8rem;
    background-color: #7cc576;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}

.contact__btn:hover{
    background-color: #fff;
    color: #7cc576;
}

@media screen and (min-width: 500px){
    .contact__btn{
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1024px){
    .contact{
        padding: 6rem 0;
    }
    .contact__btn{
        font-size: 1.8rem;
    }
}

.trust-us{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.trust-us__box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trust-us__logo{
    width: 20rem;
    height: auto;
    margin: 3rem;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: .3s;
}

.trust-us__logo:hover{
    filter: unset;
    opacity: unset;
}

.news{
    background-color: #222;
    padding: 2rem 0;
}

.news__box{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.third-title--news{
    color: #fff;
}

.news__item-contact{
    display: flex;
    align-items: center;
    min-width: 19rem;
    max-width: 19rem;
    margin: 1rem auto; 
}

.news__item-contact--position{
    align-items: flex-start;
}

.news__item-posts{
    display: flex;
    align-items: center;
    min-width: 26.5rem;
    max-width: 26.5rem;
    margin: 1rem auto; 
}

.news__item-twitter{
    display: flex;
    align-items: flex-start;
    min-width: 25rem;
    max-width: 25rem;
    margin: 1rem auto; 
}

.news__img{
    margin: 0 1rem 0 0;
    width: 2.8rem;
}

.news__icon{
    color: #ececec;
    font-size: 2.5rem;;
}

.news__text{
    color: #ececec;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 2.2rem;
    transition: .3s;
}

.news__contact{
    text-decoration: none;
    color: #ececec;
    cursor: pointer;
    transition: .3s;
}

.news__text--link:hover, .news__contact:hover{
    color: #7cc576;
}

.newst__text--twitter{
    font-weight: 700;
    color: #7cc576;
}

.newst__text--twitter:hover{
    color: #1da1f2;
}

.newst__text--hash{
    font-weight: 700;
}

.newst__text--time{
    font-size: 1rem;
}

.news__line{
    border-bottom: 1px dashed #808080;
}

@media screen and (min-width: 500px){
    .news__text{
        font-size: 1.6rem;
    }
    .newst__text--time{
        font-size: 1.2rem;
    }
    .news__item-contact{
        min-width: 20.5rem;
        max-width: 20.5rem;
    }
    .news__item-posts{
        min-width: 30rem;
        max-width: 30rem;
    }
    .news__item-twitter{
        min-width: 27.5rem;
        max-width: 27.5rem;

    }
}

@media screen and (min-width: 1024px){
    .news{
        padding: 4rem 0;
        display: flex;
        justify-content: center;
    }
    .news__box{
        margin: 0 3rem;
    }
    .news__line{
        display: none;
    }
}

@media screen and (min-width: 1280px){
    .news__box{
        margin: 0 5rem;
    }
}

@media screen and (min-width: 1440px){
    .news__box{
        margin: 0 7rem;
    }
}

@media screen and (min-width: 1600px){
    .news__box{
        margin: 0 9rem;
    }
}

.footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 4rem 0;
}

.footer__text{
    font-size: 1.4rem;
    color: #555555;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
}

.footer__link{
    color: #555555;
    text-decoration: none;
    transition: .3s;
}

.footer__link:hover{
    color: #7cc576;
}

.footer__social{
    display: flex;
    align-items: center;
    margin: 0 0 3rem 0;
    list-style: none;
}

.footer__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #000;
    margin: 0 1rem;
    transition: .3s;}

.footer__icon{
    font-size: 3rem;
    color: #fff;
}

.footer__icon--twitter{
    font-size: 2.3rem;
}

.footer__icon--google{
    font-size: 2.1rem;
}

.footer__img--twitter:hover{
    background-color: #00aced;
}

.footer__img--facebook:hover{
    background-color: #3b5998;
}

.footer__img--pinterest:hover{
    background-color: #cb2028;
}

.footer__img--google:hover{
    background-color: #da2713;
}

@media screen and (min-width: 1280px){
    .footer{
        padding: 5rem 0;
        flex-direction: row;
        position: relative;
    }
    .footer__social{
        position: absolute;
        top: 3.8rem;
        left: 50%;
        margin-left: -12rem;
    }
    .footer__text{
        width: 42%;
        margin: 0;
    }
}
