*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 10px;
}

.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    height: 5.5rem;
    background-color: #fff;
    padding: 0 5%;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__img{
    width: 2.9rem;
    height: 2.9rem;
    background-color: #7cc576;
    border-radius: 50%;
    background-image: url(../img/leaf.png);
    background-repeat: no-repeat;
    background-position: center;
}

.logo__title{
    color: #555555;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.045rem;
    padding: 0 0 0 .5rem;
}

.logo__link{
    color: #555555;
    text-decoration: none;
}

.nav{
    display: none;
}

.nav__wrapper{
    display: flex;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 700;
}

.nav__item{
    list-style: none;
    padding: 0 0 0 3.5rem;
}

.nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #777777;
    transition: .3s;
}

.nav__link:hover{
    color: #222;
}

.mobile{
    display: unset;
    font-size: 3rem;
    color: #555;
    cursor: pointer;
}

@media screen and (min-width: 500px){
    .header{
        height: 6.5rem;
        padding: 0 8%;
    }
}

@media screen and (min-width: 1024px){
    .header{
        height: 8.5rem;
        padding: 0 8%;
    }
}

@media screen and (min-width: 800px){
    .nav{
        display: unset;
    }
    .mobile{
        display: none;
    }
}

.about{
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/laptop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 53rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-title{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.about__text{
    color: #ccc;
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    font-weight: 400;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0 6rem 0;
}

.btn--about{
    margin: 0 auto;
    display: block;
}

.btn{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #7cc576;
    border: none;
    padding: 1.7rem 2.5rem;
    border-radius: 4rem;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.btn:hover{
    background-color: #fff;
    color: #222;
}

@media screen and (min-width: 500px) and (orientation: portrait){
    .primary-title{
        font-size: 4rem;
    }
    .about__text{
        font-size: 1.8rem;
    }
    .btn{
        font-size: 1.4rem;
        padding: 1.9rem 2.7rem;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){
    .primary-title{
        font-size: 5rem;
    }
    .about__text{
        font-size: 1.9rem;
    }
    .btn{
        font-size: 1.5rem;
        padding: 2rem 3rem;
    }
}

@media screen and (min-width: 900px){
    .primary-title{
        font-size: 6rem;
    }
    .about__text{
        font-size: 2rem;
        padding: 3rem 0 6rem 0;
    }
    .btn{
        font-size: 1.6rem;
        padding: 1.9rem 2.7rem;
    }
}

@media screen and (min-width: 480px) and (orientation: landscape){
    .about{
        height: 30rem;
    }
    .primary-title{
        font-size: 3rem;
    }
    .about__text{
        font-size: 1.6rem;
        padding: 3rem 0 6rem 0;
        padding: 1rem 3rem 3rem 3rem;
    }
    .btn{
        font-size: 1.4rem;
        padding: 1.7rem 2.5rem;
    }
}

@media screen and (min-width: 640px) and (orientation: landscape){
    .about{
        height: 35rem;
    }
    .primary-title{
        font-size: 4rem;
    }
    .about__text{
        font-size: 1.7rem;
        padding: 2rem 3rem 4rem 3rem;
    }
    .btn{
        font-size: 1.5rem;
        padding: 2rem 3rem;
    }
}

@media screen and (min-width: 800px) and (orientation: landscape){
    .about{
        height: 45rem;
    }
    .primary-title{
        font-size: 5rem;
    }
    .about__text{
        font-size: 1.8rem;

    }
    .btn{
        font-size: 1.6rem;
        padding: 1.9rem 2.7rem;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape){
    .about{
        height: 50rem;
    }
    .about__text{
        padding: 3rem 3rem 5rem 3rem;
    }
}

.services{
    padding: 4rem 0 3rem 0;
}

.services__wrapper{
    width: 90%;
    margin: 0 auto;
}

.services__header{
    padding: 0 0 3rem 0;
}

.secondary-title{
    text-align: center;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: -1px;
    color: #222222;
    font-weight: 700;
}

.services__text{
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    color: #777777;
}

.services__main{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service{
    padding: 1.5rem;
    transition: .3s;
}

.service:hover{   
    transform: scale(1.1) 
}

.service__img{
    display: block;
    margin: 0 auto;
}

.third-title{
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #222222;
    font-weight: 700;
}

.service__text{
    text-align: center;
    font-size: 1.2rem;
    color: #777777;
}

@media screen and (min-width: 500px) and (orientation: portrait){
    .secondary-title{
        font-size: 3.4rem;
    }
    .services__text{
        font-size: 1.8rem;
    }
    .third-title{
        font-size: 1.8rem;
    }
    .service__text{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){
    .services__main{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .service{
        padding: 1.5rem;
        min-width: 33.33%;
        max-width: 33.33%;
    }
}

@media screen and (min-width: 500px) and (orientation: landscape){
    .secondary-title{
        font-size: 3.4rem;
    }
    .services__text{
        font-size: 1.8rem;
    }
    .third-title{
        font-size: 1.8rem;
    }
    .service__text{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 720px) and (orientation: landscape){
    .services__main{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .service{
        padding: 1.5rem;
        min-width: 33.33%;
        max-width: 33.33%;
    }
}

@media screen and (min-width: 1024px){
    .services{
        padding: 7rem 0 6rem 0;
    }
    .services__main{
        justify-content: space-evenly;
        padding: 3rem 0 0 0;
    }
    .secondary-title{
        font-size: 4rem;
    }
    .services__text{
        font-size: 2rem;
    }
    .third-title{
        font-size: 1.8rem;
    }
    .service{
        padding: 1.5rem;
        min-width: 25%;
        max-width: 25%;
    }
}

.info{
    background-color: #e9e9e9;
    width: 100%;
}

.info__gear{
    display: none;
}

.info__wrapper{
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/cliff.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 5rem 2rem;
}

.secondary-title--info{
    color: #fff;
    text-align: center;
}

.info__text{
    color: #ccc;
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
}

.info__character{
    color: #7CC576;
}

.info__item-box{
    width: 24.2rem;
    display: block;
    margin: 2rem auto;
}

.info__item{
    color: #ccc;
    font-size: 1.3rem;
    padding: .5rem 0;
    display: flex;
    align-items: center;
}

.info__item::before{
    content: "\2713";
    border: 1px solid #fff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: .6rem 0 0 0;
    margin: 0 1rem 0 0;
}

.btn--info{
    display: block;
    margin: 4rem auto 0 auto;
}

@media screen and (min-width: 500px) and (orientation: portrait){
    .info__text{
        font-size: 1.8rem;
    }
    .info__item-box{
        width: 26rem;
    }
    .info__item{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){
    .info__text{
        width: 80%;
    }
}

@media screen and (min-width: 500px) and (orientation: landscape){
    .info__text{
        font-size: 1.8rem;
    }
    .info__item-box{
        width: 26rem;
    }
    .info__item{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 500px) and (orientation: landscape){
    .info__text{
        width: 80%;
    }
}

@media screen and (min-width: 1024px){
    .info{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        width: 100%;
    }
    .info__gear{
        position: absolute;
        display: unset;
        top: center;
        left: 0;
        width: 50%;
        z-index: 0;
    }
    .info__gear-img{
        display: block;
        margin: 0 auto;
        height: auto;
        animation: rotation 20s infinite linear;
    }
    @keyframes rotation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
        }
    }
    .info__wrapper{
        width: 75%;
        padding: 7rem 7%;
        z-index: 1;
    }
    .secondary-title--info{
        text-align: left;
    }
    .info__text{
        font-size: 1.4rem;
        text-align: left;
        margin: 0;
        width: 80%;
    }
    .info__item-box{
        width: 100%;
    }
    .btn--info{
        margin: 4rem 0 0 0;
    }
}

@media screen and (min-width: 1366px){
    .info__text{
        width: 60%;
    }
}

@media screen and (min-width: 1600px){
    .info__text{
        width: 50%;
    }
}
